<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-9569882864362674~7176358416</string>
    <key>SKAdNetworkItems</key>
    <array>
        <dict>
            <key>SKAdNetworkIdentifier</key>
            <string>cstr6suwn9.skadnetwork</string>
        </dict>
    </array>
    <key>GADIsAdManagerApp</key>
    <true/>

    <key>NSMicrophoneUsageDescription</key>
    <string>ボイスメッセージを録音・送信するためにマイクを使用します。</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>プロフィール画像の設定や、DMでの画像送信のためにフォトライブラリを使用します。</string>

    <key>NSUserTrackingUsageDescription</key>
    <string>お客様の興味関心に合わせた最適な広告を表示するために使用されます。</string>

</dict>
</plist>
